@import "src/assets/scss/mixins";

.menu {
  display: flex;
  justify-content: center;

  @include media-breakpoint(lg) {
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 81px;
    left: 0;
    background: linear-gradient(to left, rgba(12, 12, 12, 1), rgba(27, 27, 27, 1) 50%, rgba(12, 12, 12, 1));
    visibility: hidden;
    height: 0;
  }

  @include media-breakpoint(sm) {
    top: 59px;
  }

  @include media-breakpoint-landscape(420px) {
    top: 59px;
  }

  &.active {
    visibility: visible;
    height: auto;
  }

  &__list {
    display: flex;
    align-items: center;

    @include media-breakpoint(lg) {
      padding: 5px 0;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__item {
    padding: 0 30px;

    @include media-breakpoint(lg) {
      padding: 5px 30px;
    }

    @include media-breakpoint(sm) {
      padding: 5px 15px;
    }

    &.active .menu__link {
      cursor: default;
    }

    &.active .menu__title {
      color: rgba(255, 255, 255, 1);
    }
  }

  &__link {
    padding: 5px 0;
    display: block;
    color: rgba(249, 252, 251, 1);
    text-align: right;
    text-decoration: none;
    cursor: pointer;

    &:hover > .menu__title {
      color: rgba(255, 255, 255, 1);
    }
  }

  &__title {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(206, 206, 206, 1);

    @include media-breakpoint(lg) {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 16px;
    color: rgba(234, 30, 41, 1);

    @include media-breakpoint(lg) {
      display: none;
    }
  }
}
