@import "../../../../../assets/scss/mixins";

:host {
  flex-shrink: 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  transition: 0.2s linear;

  &_primary {
    background-color: rgba(252, 40, 54, 1);
    color: rgba(255, 255, 255, 1);

    &:hover {
      background-color: rgba(248, 3, 20, 1);
    }
  }

  &_secondary {
    background-color: rgb(255, 255, 255, 1);

    &:hover {
      background-color: rgba(252, 40, 54, 1);
      color: rgba(255, 255, 255, 1);
    }
  }

  &_tertiary {
    background: rgba(48, 49, 52, 1);
    color: rgba(255, 255, 255, 1);
  }

  &_medium {
    padding: 12px 36px;
    font-size: 16px;
    @include media-breakpoint(lg) {
      font-size: 14px;
    }
  }

  &_small {
    padding: 10px 20px;
  }

  &:disabled {
    cursor: not-allowed;
    background: rgba(136, 136, 136, 1);
    color: rgba(17, 17, 17, 1);
  }

  &_not-found {
    margin: 24px 0 0;
  }

  &_form {
    margin: 10px 0 0;
  }

  & > i {
    margin: 0 6px 0 0;
  }
}
