@import "../../../../assets/scss/mixins";

:host {
  max-width: 260px;
  width: 100%;
  flex-shrink: 0;

  @include media-breakpoint(md) {
    margin: 30px 0 0;
  }
}

.aside {
  &__future {
    padding: 12px;
    background: linear-gradient(rgba(40, 40, 40, 0.8), rgba(60, 60, 60, 0.8) 30%, rgba(60, 60, 60, 0.8));
    text-align: center;
    border-radius: 6px;

    &-link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      cursor: pointer;
    }

    &-picture {
      display: flex;
    }

    &-img {
      width: 100%;
      height: auto;
    }

    &-name {
      margin: 8px 0;
      text-transform: uppercase;
      color: #f0f0f0;

      &:hover {
        text-decoration: underline;
      }
    }

    &-text {
      color: #9d9d9d;
    }
  }
}
