<h1 class="title title_h1 about__title">Про кінотеатр:</h1>
<p class="about__text">Cучасний 6-тизальний мультиплекс, що поєднує в собі все найкраще, що є сьогодні в галузі кіно в світі. </p>
<p class="about__text">Найвища якість кінопоказу в нашому кінотеатрі досягається завдяки новітньому обладнанню, з можливістю показу кіно у форматах 2D і популярному сьогодні 3D, із застосуванням спеціальних окулярів зі стереоскопічним ефектом.</p>
<p class="about__text">Кінозали відрізняються високим рівнем комфорту, а також відповідають найвищим вимогам дизайну. Унікальні екрани підвищеної яскравості забезпечують кращу якість зображення. Зручні м'які крісла з ортопедичним ефектом забезпечені підставками для попкорну та напоїв, а також в залі Альфа можна піднімати підлокітники, що особливо  зручно для закоханих парочок. Величезною перевагою є велика відстань між рядами в залах.</p>
<p class="about__text">Оригінальний дизайн фойє, м'які дивани , спеціальна система освітлення надають відпочинку у нас особливий затишок. Крім того, на території кінотеатру працюють алкогольний і попкорн бари, з меню на будь-який смак.</p>
<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
  <a *ngFor="let image of galleryImages" [href]="image.src">
    <img alt="title" [src]="image.thumb" />
  </a>
</lightgallery>
