<header class="header">
  <div class="container header__container">
    <a class="header__logo" [routerLink]="['/']">
      <img class="header__logo-img" src="assets/images/header/logo.png"/>
    </a>
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item" routerLinkActive="active"><a class="navbar__link" [routerLink]="['/afisha']"><span class="navbar__title">Розклад</span><span class="navbar__text">ceансів</span></a></li>
        <li class="navbar__item" routerLinkActive="active"><a class="navbar__link" [routerLink]="['/future']"><span class="navbar__title">Анонси</span><span class="navbar__text">фільмів</span></a></li>
        <li class="navbar__item" routerLinkActive="active"><a class="navbar__link" [routerLink]="['/about']"><span class="navbar__title">О нас</span><span class="navbar__text">контакти</span></a></li>
      </ul>
    </nav>
  </div>
</header>
