<footer class="footer">
  <div class="footer__container container">
<!--    <div class="footer__top">-->
<!--      <nav class="footer__navbar navbar">-->
<!--        <ul class="navbar__list">-->
<!--          <li class="navbar__item">-->
<!--            <a class="navbar__link" href="#">-->
<!--              <span class="navbar__title">про кінотеатр</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="navbar__item">-->
<!--            <a class="navbar__link" href="#">-->
<!--              <span class="navbar__title">контакти<</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="navbar__item">-->
<!--            <a class="navbar__link" href="#">-->
<!--              <span class="navbar__title">Правила</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
    <div class="footer__bottom">
      <div class="footer__col">
        <a class="header__logo" [routerLink]="['/']">
          <img class="header__logo-img" src="assets/images/header/logo.png"/>
        </a>
        <p>© 2011 – 2023 кінотеатр "Супутник"</p>
        <p>Інформаційний партнер - Український кінопортал KinoFilms</p>
      </div>
    </div>
  </div>
</footer>
