@font-face {
  font-family: 'Formular-Bold';
  src: url('../fonts/Formular-Bold/Formular-Bold.eot');
  src: url('../fonts/Formular-Bold/Formular-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Formular-Bold/Formular-Bold.woff') format('woff'),
  url('../fonts/Formular-Bold/Formular-Bold.ttf') format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Formular-Regular';
  src: url('../fonts/Formular-Regular/Formular-Regular.eot');
  src: url('../fonts/Formular-Regular/Formular-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Formular-Regular/Formular-Regular.woff') format('woff'),
  url('../fonts/Formular-Regular/Formular-Regular.ttf') format("truetype");
  font-weight: 400;
  font-display: swap;
}
