@import "../../../assets/scss/mixins";

.footer {
  background: rgba(19, 19, 19, 1);
  color: rgba(75, 75, 75, 1);

  &__container {
    max-width: 1200px;
    @include container;
  }

  &__bottom {
    padding: 16px 0;

    @include media-breakpoint(sm) {
      padding: 12px 0;
    }
  }
}
