<app-title [level]="'h1'" [elemClass]="'title_h1 title_about'" [text]="title"></app-title>
<p class="about__text">A modern 6-screen multiplex that combines the best of what the film industry has to offer today.</p>
<p class="about__text">Our cinema boasts the highest quality cinematic experience thanks to state-of-the-art equipment capable of showing movies in 2D and the popular 3D format, complete with special stereoscopic glasses.</p>
<p class="about__text">Our cinema halls offer a high level of comfort and meet the highest standards of design. Unique high-brightness screens provide the best image quality. Comfortable, orthopedic chairs are equipped with holders for popcorn and drinks, and in the Alpha hall, armrests can be raised, which is especially convenient for couples. The large distance between rows in our halls is a significant advantage.</p>
<p class="about__text">The original design of the lobby, soft sofas, and special lighting system provide a unique sense of comfort. Additionally, the cinema features alcohol and popcorn bars with a menu to satisfy any taste.</p>
<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
  <a *ngFor="let image of galleryImages" [href]="image.src">
    <img alt="title" [src]="image.thumb" />
  </a>
</lightgallery>
