<div class="afisha">
  <div class="afisha__row">
    <div class="movie">
      <a class="movie__link" href="#">
        <picture class="movie__picture">
          <img class="movie__img" src="assets/images/movie/film-first.jpg"/>
        </picture>
        <span class="movie__title">Супер Майк: Останній танець</span>
      </a>
    </div>
    <div class="movie">
      <a class="movie__link" href="#">
        <picture class="movie__picture">
          <img class="movie__img" src="assets/images/movie/film-second.jpg"/>
        </picture>
        <span class="movie__title">Титанік</span>
      </a>
    </div>
    <div class="movie">
      <a class="movie__link" href="#">
        <picture class="movie__picture">
          <img class="movie__img" src="assets/images/movie/film-third.jpg"/>
        </picture>
        <span class="movie__title">Вавилон</span>
      </a>
    </div>
    <div class="movie">
      <a class="movie__link" href="#">
        <picture class="movie__picture">
          <img class="movie__img" src="assets/images/movie/film-fourth.jpg"/>
        </picture>
        <span class="movie__title">Аватар: Шлях води</span>
      </a>
    </div>
  </div>
</div>
