<div class="banner">
  <swiper [config]="config" class="banner__swiper">
    <ng-template swiperSlide *ngFor="let movie of movies?.results" class="banner__item">
      <a class="banner__film" [routerLink]="['/view', movie.id]">
        <picture>
          <source srcset="{{movie?.poster_path}}" media="(max-width: 567px)"/>
          <img class="banner__film-img" src="{{movie?.backdrop_path}}" alt="" />
        </picture>
      </a>
      <div class="banner__info">
        <div class="banner__container">
          <app-title [level]="'h1'" [elemClass]="'title_h1 title_banner'" [text]="movie?.title"></app-title>
          <app-button (onClicked)="goToViewPage(movie.id)" [elemClass]="'banner__btn'" [textBtn]="textBtn"></app-button>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
