<div class="view">
  <div class="view__titles">
    <h1 class="title title_h1 view__title">Супер Майк: Останній танець</h1>
    <p class="view__subtitle">Magic Mike's Last Dance</p>
  </div>
  <div class="view__row">
    <picture class="view__poster">
      <img class="view__poster-img" src="assets/images/movie/film-first.jpg"/>
    </picture>
    <div class="view__info">
      <div class="view__info-row">
        <div class="view__info-col">Рік:</div>
        <div class="view__info-col">2023</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Країна:</div>
        <div class="view__info-col">США</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Жанр:</div>
        <div class="view__info-col">драма, комедія</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Тривалість:</div>
        <div class="view__info-col">112 хв</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">В ролях:</div>
        <div class="view__info-col">Чаннінґ Татум, Сальма Гаєк</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Режисер:</div>
        <div class="view__info-col">Стівен Содерберґ</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Прокат:</div>
        <div class="view__info-col">з 09.02.2023</div>
      </div>
    </div>
  </div>
  <div class="view__description">Ділова угода Майка Лейна провалилася, і, залишившись без копійки, він змушений підробляти барменом у Флориді. Щоб згадати старі-добрі часи, Майк вирушає до Лондона з багатою світською левицею. Вона заманює його пропозицією, від якої Майк не може відмовитися...але дама має й власні плани. Коли Майк усвідомлює, що у на думці у його супутниці, перед ним та його командою танцюристів постає питання: чи зможуть вони впоратися самотужки?</div>
  <h2 class="title title_h2 title__view">Трейлер</h2>
  <div class="view__video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dfx6jnx96s8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>
