<div class="view">
  <div class="view__titles">
    <h1 class="title title_h1 view__title">{{movie?.title}}</h1>
    <p class="view__subtitle">{{movie?.original_title}}</p>
  </div>
  <div class="view__row">
    <picture class="view__poster">
      <img class="view__poster-img" src="{{movie?.poster_path}}" width="220" height="330"/>
    </picture>
    <div class="view__info">
      <div class="view__info-row">
        <div class="view__info-col">Рік:</div>
        <div class="view__info-col">{{(movie?.release_date) | date:'yyyy'}}</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Країна:</div>
        <div class="view__info-col">{{separatedCountries}}</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Жанр:</div>
        <div class="view__info-col">{{separatedGenres | lowercase}}</div>
      </div>
      <div class="view__info-row" *ngIf="movie?.runtime">
        <div class="view__info-col">Тривалість:</div>
        <div class="view__info-col">{{movie?.runtime}}</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Режисер:</div>
        <div class="view__info-col">Стівен Содерберґ</div>
      </div>
      <div class="view__info-row">
        <div class="view__info-col">Прокат:</div>
        <div class="view__info-col">{{(movie?.release_date) | date:'dd.MM.yyyy'}}</div>
      </div>
    </div>
  </div>
  <div class="view__description">{{movie?.overview}}</div>
  <div class="view__wrap" *ngIf="movieUrl">
    <h2 class="title title_h2 title__view">Трейлер</h2>
    <div class="view__video">
      <iframe width="560" height="315" [src]="movieUrl | safe: 'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>
