@import "../../../../assets/scss/mixins";

.btn {
  background-color: rgba(252, 40, 54, 1);
  border-radius: 4px;
  padding: 12px 36px;
  color: rgba(255, 255, 255, 1);

  @include media-breakpoint(sm) {
    padding: 10px 26px;
  }

  &:hover {
    background-color: rgba(248, 3, 20, 1);
  }
}

//Not Found Page
.not-found__btn {
  margin: 24px 0 0;
}
