<div class="dashboard">
  <div class="dashboard__head">
    <app-title [level]="'h1'" [elemClass]="'title_h1'" [text]="titleFirst"></app-title>
    <div class="dashboard__buttons">
      <app-button
        (onClicked)="userEdit()"
        [elemClass]="'btn_tertiary btn_small'"
        [textBtn]="textBtnSecond"
        [iconClass]="'icon-cog'"></app-button>
      <app-button
        (onClicked)="userLogOut()"
        [elemClass]="'btn_tertiary btn_small'"
        [iconClass]="'icon-exit'"
        [textBtn]="textBtnFirst"></app-button>
    </div>
  </div>
  <div class="dashboard__profile">
    <div class="dashboard__profile-logo"></div>
    <div class="dashboard__profile-wrap">
      <div class="dashboard__profile-name">{{ user?.firstName }} {{ user?.lastName }}</div>
      <div class="dashboard__profile-username">{{ user?.displayName }}</div>
    </div>
  </div>
  <div class="dashboard__block">
    <app-title [level]="'h2'" [elemClass]="'title_h2'" [text]="titleSecond"></app-title>
    <div class="dashboard__text">На сайте с <b>{{ user?.created | date: 'd MMMM' }}</b></div>
    <div class="dashboard__text">Пол: <b>мужской</b></div>
    <div class="dashboard__text">День рождения: <b>27 февраля 2004</b></div>
  </div>
  <div class="dashboard__block" *ngIf="user?.textarea">
    <app-title [level]="'h2'" [elemClass]="'title_h2'" [text]="titleThird"></app-title>
    <div class="dashboard__text dashboard__text_line">{{user?.textarea}}</div>
  </div>
</div>
